body {
    background-color: #222;
    color: #eee;
    position: absolute;
}

#gallery {
    width: 90%;
    margin: auto;
    text-align: center;
}

figure {
    display: inline-block;
    width: 33%;
    margin: 0;
    margin-bottom: 10px;
    position: relative;
}

figure img {
    width: 200px;
    height: auto;
}

section {
    display: block;
}

* {
    box-sizing: border-box;
}

@media screen and (max-width: 992px) {
    figure {
        width: 49%;
    }
}

@media screen and (max-width: 768px) {
    figure {
        width: 100%;
    }
}

@media screen and (max-width: 480px) {
    #gallery {
        width: 100%;
    }
}